.navbar {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

.login-section-wrapper {
    display: flex;
    justify-content: center;
}

.login-section {
    display: flex;
    border: 1px solid black;
    width: auto;
    height: auto;
    padding: 10px 10px 10px 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
}