@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Roboto:wght@100&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Dongle', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.heading {
    padding-bottom: 50px;
    align-self: center;
}

h4 {
    align-self: center;
    font-style: italic;
}

.login-section-wrapper {
    display: flex;
    justify-content: center;
}

.login-section {
    padding: 10px 30px 10px 30px;
    height: auto;
    width: 300px;
    background-color: white;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.input-border {
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
}

.input-border:focus {
    border-color: orange;
}

label {
    margin-top: 20px;
}

input {
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}

#forgot-pwd {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

#forgot-pwd:hover {
    color: orange;
}

.login-button {
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: grey;
}

.login-button:hover {
    background-color: black;
    color: white;
}

.sign-up {
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}

.signup-text:hover {
    color: orange;
}

.or-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.or-footer:before, .or-footer:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}